NGINX_PORT=
API_PORT=
REDIS_PORT=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_BROKER_PORT=
RABBITMQ_MANAGEMENT_PORT=
LOKI_PORT=
GRAFANA_PORT=
GF_AUTH_ANONYMOUS_ENABLED=
GF_AUTH_ANONYMOUS_ORG_ROLE=
GF_SERVER_DOMAIN=
GF_SERVER_ROOT_URL=
GF_SERVER_SERVE_FROM_SUB_PATH=
PROMETHEUS_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_BUCKET_NAME=
PROD_REDIS_ACCOUNT_PASSWORD=
DATABASE_URL=
ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION_NAME=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=