
services:
  nginx:
    image: nginx:alpine
    container_name: estatya_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      #- frontend_build:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    #depends_on:
    #  - api
    networks:
      - estatya
  
  api:
    image: smartkit-api:latest
    restart: unless-stopped
    ports:
      - "8000:8000"
    working_dir: /app
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
      redis_container:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - estatya

  redis_container:
    image: redis:8.4.0
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    command: redis-server --requirepass "${PROD_REDIS_ACCOUNT_PASSWORD}"
    networks:
      - estatya
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  database:
      image: postgres:16
      restart: always
      env_file:
        - .env
      #expose:
      #  - "5432"
      ports:
        - "5432:5432"
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      volumes:
        - ./pgdata:/var/lib/postgresql/data
      networks:
        - estatya
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
        interval: 5s
        timeout: 5s
        retries: 5
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia/
networks:
  estatya:
    driver: bridge
volumes:
  redis_data:
  pgdata:
  rabbitmq_data:
